#
*.suo
App/ClientModule/obj
App/ClientModule/bin
App/ClientModule/*.user
BuildLog/*.log
EntitySystem/AiSystem/obj
EntitySystem/AiSystem/bin
EntitySystem/AiSystem/*.user
EntitySystem/GameObjects/obj
EntitySystem/GameObjects/bin
EntitySystem/GameObjects/*.user
EntitySystem/SceneLogic/obj
EntitySystem/SceneLogic/bin
EntitySystem/SceneLogic/*.user
Infrastructure/Common/obj
Infrastructure/Common/bin
Infrastructure/Common/*.user
Infrastructure/SkillSystem/obj
Infrastructure/SkillSystem/bin
Infrastructure/SkillSystem/*.user
Infrastructure/StorySystem/obj
Infrastructure/StorySystem/bin
Infrastructure/StorySystem/*.user
SDK/*
Tools/DslCopy/*.suo
Tools/DslCopy/obj
Tools/DslCopy/*.user
Tools/GenerateFileList/*.suo
Tools/GenerateFileList/obj
Tools/GenerateFileList/*.user
Tools/LogicDataGenerator/*.suo
Tools/LogicDataGenerator/obj
Tools/LogicDataGenerator/*.user
Tools/TableReaderGenerator/obj
Tools/TableReaderGenerator/*.user
Unity3d/*.csproj
Unity3d/*.sln
Unity3d/*.suo
Unity3d/Library
Unity3d/obj
Unity3d/Temp
Unity3d/Assets/Plugins/*.mdb
Unity3d/Assets/Plugins/*.pdb
