#
*.suo
App/ServerModule/ServerEnv/bin/*.mdb
App/ServerModule/ServerEnv/bin/log
App/ClientModule/Cs2LuaScript/obj
App/ClientModule/Cs2LuaScript/bin
App/ClientModule/Cs2LuaScript/*.user
App/ClientModule/PluginFramework/obj
App/ClientModule/PluginFramework/bin
App/ClientModule/PluginFramework/*.user
App/ClientProtoBuf/obj
App/ClientProtoBuf/bin
App/ClientProtoBuf/*.user
App/ServerModule/DataCache/obj
App/ServerModule/DataCache/bin
App/ServerModule/DataCache/*.user
App/ServerModule/DataProtoBuf/obj
App/ServerModule/DataProtoBuf/bin
App/ServerModule/DataProtoBuf/*.user
App/ServerModule/Lobby/obj
App/ServerModule/Lobby/bin
App/ServerModule/Lobby/*.user
App/ServerModule/LogSys/obj
App/ServerModule/LogSys/bin
App/ServerModule/LogSys/*.user
App/ServerModule/Messenger/obj
App/ServerModule/Messenger/bin
App/ServerModule/Messenger/*.user
App/ServerModule/RoomServer/obj
App/ServerModule/RoomServer/bin
App/ServerModule/RoomServer/*.user
App/ServerModule/RoomCs2LuaScript/obj
App/ServerModule/RoomCs2LuaScript/bin
App/ServerModule/RoomCs2LuaScript/*.user
App/ServerModule/RoomPluginFramework/obj
App/ServerModule/RoomPluginFramework/bin
App/ServerModule/RoomPluginFramework/*.user
App/ServerModule/ServerProtoBuf/obj
App/ServerModule/ServerProtoBuf/bin
App/ServerModule/ServerProtoBuf/*.user
App/ServerModule/UserServer/obj
App/ServerModule/UserServer/bin
App/ServerModule/UserServer/*.user
BuildLog/*.log
InformationService/GameObjects/obj
InformationService/GameObjects/bin
InformationService/GameObjects/*.user
InformationService/SceneLogic/obj
InformationService/SceneLogic/bin
InformationService/SceneLogic/*.user
Infrastructure/Common/obj
Infrastructure/Common/bin
Infrastructure/Common/*.user
Infrastructure/SkillSystem/obj
Infrastructure/SkillSystem/bin
Infrastructure/SkillSystem/*.user
Infrastructure/StorySystem/obj
Infrastructure/StorySystem/bin
Infrastructure/StorySystem/*.user
SDK/*
ServerSluaExport/obj
ServerSluaExport/bin
ServerSluaExport/*.user
ServerSluaExport/*.suo
ServerSluaExport/SluaManaged/obj
ServerSluaExport/SluaManaged/bin
ServerSluaExport/SluaManaged/*.user
SluaExport/obj
SluaExport/bin
SluaExport/*.user
SluaExport/*.suo
SluaExport/SluaManaged/obj
SluaExport/SluaManaged/bin
SluaExport/SluaManaged/*.user
Tools/DslCopy/*.suo
Tools/DslCopy/obj
Tools/DslCopy/*.user
Tools/GenerateFileList/*.suo
Tools/GenerateFileList/obj
Tools/GenerateFileList/*.user
Tools/LogicDataGenerator/*.suo
Tools/LogicDataGenerator/obj
Tools/LogicDataGenerator/*.user
Tools/TableReaderGenerator/*.suo
Tools/TableReaderGenerator/obj
Tools/TableReaderGenerator/*.user
Unity3d/*.csproj
Unity3d/*.sln
Unity3d/*.suo
Unity3d/*.pdb
Unity3d/*.exe
Unity3d/Library
Unity3d/Game_Data
Unity3d/obj
Unity3d/Temp
Unity3d/Assets/Plugins/*.mdb
Unity3d/Assets/Plugins/*.pdb
