#
*.suo
App/ServerModule/ServerEnv/bin/*.mdb
App/ServerModule/ServerEnv/bin/log
App/ClientModule/obj
App/ClientModule/bin
App/ClientModule/*.user
App/ClientProtoBuf/obj
App/ClientProtoBuf/bin
App/ClientProtoBuf/*.user
App/ServerModule/DataCache/obj
App/ServerModule/DataCache/bin
App/ServerModule/DataCache/*.user
App/ServerModule/DataProtoBuf/obj
App/ServerModule/DataProtoBuf/bin
App/ServerModule/DataProtoBuf/*.user
App/ServerModule/Lobby/obj
App/ServerModule/Lobby/bin
App/ServerModule/Lobby/*.user
App/ServerModule/LogSys/obj
App/ServerModule/LogSys/bin
App/ServerModule/LogSys/*.user
App/ServerModule/Messenger/obj
App/ServerModule/Messenger/bin
App/ServerModule/Messenger/*.user
App/ServerModule/RoomServer/obj
App/ServerModule/RoomServer/bin
App/ServerModule/RoomServer/*.user
App/ServerModule/ServerProtoBuf/obj
App/ServerModule/ServerProtoBuf/bin
App/ServerModule/ServerProtoBuf/*.user
App/ServerModule/UserServer/obj
App/ServerModule/UserServer/bin
App/ServerModule/UserServer/*.user
BuildLog/*.log
EntitySystem/AiSystem/obj
EntitySystem/AiSystem/bin
EntitySystem/AiSystem/*.user
EntitySystem/GameObjects/obj
EntitySystem/GameObjects/bin
EntitySystem/GameObjects/*.user
EntitySystem/SceneLogic/obj
EntitySystem/SceneLogic/bin
EntitySystem/SceneLogic/*.user
Infrastructure/Common/obj
Infrastructure/Common/bin
Infrastructure/Common/*.user
Infrastructure/SkillSystem/obj
Infrastructure/SkillSystem/bin
Infrastructure/SkillSystem/*.user
Infrastructure/StorySystem/obj
Infrastructure/StorySystem/bin
Infrastructure/StorySystem/*.user
SDK/*
Tools/DslCopy/*.suo
Tools/DslCopy/obj
Tools/DslCopy/*.user
Tools/GenerateFileList/*.suo
Tools/GenerateFileList/obj
Tools/GenerateFileList/*.user
Tools/LogicDataGenerator/*.suo
Tools/LogicDataGenerator/obj
Tools/LogicDataGenerator/*.user
Tools/TableReaderGenerator/obj
Tools/TableReaderGenerator/*.user
Unity3d/*.csproj
Unity3d/*.sln
Unity3d/*.suo
Unity3d/*.pdb
Unity3d/*.exe
Unity3d/Library
Unity3d/Game_Data
Unity3d/obj
Unity3d/Temp
Unity3d/Assets/Plugins/*.mdb
Unity3d/Assets/Plugins/*.pdb
